<div class="container">
   <h1 class="text-center mt-5 text-light">Hero App</h1>
 <div class="row mt-5">
   
   <div class="col-3">
      <input [(ngModel)]="hero.name" type="text" class="form-control m-1" placeholder="name">
   </div>
   <div class="col-3">
      <input [(ngModel)]="hero.power" type="text" class="form-control m-1" placeholder="power">
   </div>
   <div class="col-3">
      <input [(ngModel)]="hero.image" type="text" class="form-control m-1" placeholder="URLimage">
   </div>
   <div class="col-3">
      <button (click)="ajout()"  class="btn form-control m-1 text-light" >create</button>
   </div>

 </div>

 <div class="row mt-5">
   <div [class="col-3" *ngFor="let item of heros">
      <div [ngClass]="{'card p-1':true,'hight':item.power>100,'medium':item.power<100 && item.power>50, 'low':item.power<50}">
         <div class="card-image">
            <img class="w-100" [src]="item.image" width="260" height="100">
         </div>
         
         <div class="card-body">
            <h2>{{item.name}}</h2>
            <p>{{item.power}}</p>
         </div>


      </div>
   </div>

 </div>
</div>
